/* Clearfix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/* App styles */
.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

h4 {
	margin-bottom: 0;
}

span.stars {
	float: right;
}

span.views {
	float:left;
  margin-left: -2px;
}

span.stars, span.stars span {
	display: block;
	background: url('../img/star-rating.png') 0 -16px repeat-x;
	width: 80px;
	height: 16px;
}

span.stars span {
	background-position: 0 0;
}

span.views, span.views span {
	display: block;
	background: url('../img/square-views.png') 0 -16px repeat-x;
	width: 80px;
	height: 16px;
}

span.views span {
	background-position: 0 0;
}

.lastPub {
  margin-top: 25px;
}

.btn-back {
  font-size: 28px;
}

.btn-default {
  width: 200px;
  text-align: right;
}

.btn-submit {
  margin-top: 25px;
}

.top-icon, .bottom-icon {
	font-size: 24px;
}

.top-search {
	padding: 15px;
}

.level0 {
	padding-left: 0;
}

.level1 {
	padding-left: 10px;
}

.level2 {
	padding-left: 20px;
}

.categoryGroupLabel {
  display: inline-block;
  text-align: left;
}

.typeLabel {
  display: inline-block;
  padding-top: 8px;
}

.catDropDown {
  width: 200px;
}

.catSel {
  float: right;
}

.ratingsBar {
  margin-top: 10px;
}

.panel {
  border-radius: 0;
}

/* Checkbox */
.checkbox {
  float: right;
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer; 
  outline: none;
}

.checkbox input:focus {
  outline: none;
}

.checkbox input:before, .checkbox .checkbox-icon:before {
    border-color: #007aff; 
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #007aff; 
}

.checkbox-light input:before, .checkbox-light .checkbox-icon:before {
  border-color: #ddd; 
}

.checkbox-light input:checked:before, .checkbox-light input:checked + .checkbox-icon:before {
  background: #ddd; 
}

.checkbox-stable input:before, .checkbox-stable .checkbox-icon:before {
  border-color: #b2b2b2; 
}

.checkbox-stable input:checked:before, .checkbox-stable input:checked + .checkbox-icon:before {
  background: #b2b2b2; 
}

.checkbox-positive input:before, .checkbox-positive .checkbox-icon:before {
  border-color: #4a87ee; 
}

.checkbox-positive input:checked:before, .checkbox-positive input:checked + .checkbox-icon:before {
  background: #4a87ee; 
}

.checkbox-calm input:before, .checkbox-calm .checkbox-icon:before {
  border-color: #43cee6; 
}

.checkbox-calm input:checked:before, .checkbox-calm input:checked + .checkbox-icon:before {
  background: #43cee6; 
}

.checkbox-assertive input:before, .checkbox-assertive .checkbox-icon:before {
  border-color: #ef4e3a; 
}

.checkbox-assertive input:checked:before, .checkbox-assertive input:checked + .checkbox-icon:before {
  background: #ef4e3a; 
}

.checkbox-balanced input:before, .checkbox-balanced .checkbox-icon:before {
  border-color: #66cc33; 
}

.checkbox-balanced input:checked:before, .checkbox-balanced input:checked + .checkbox-icon:before {
  background: #66cc33; 
}

.checkbox-energized input:before, .checkbox-energized .checkbox-icon:before {
  border-color: #f0b840; 
}

.checkbox-energized input:checked:before, .checkbox-energized input:checked + .checkbox-icon:before {
  background: #f0b840; 
}

.checkbox-royal input:before, .checkbox-royal .checkbox-icon:before {
  border-color: #8a6de9; 
}

.checkbox-royal input:checked:before, .checkbox-royal input:checked + .checkbox-icon:before {
  background: #8a6de9; 
}

.checkbox-dark input:before, .checkbox-dark .checkbox-icon:before {
  border-color: #444; 
}

.checkbox-dark input:checked:before, .checkbox-dark input:checked + .checkbox-icon:before {
  background: #444; 
}

.checkbox input:disabled:before, .checkbox input:disabled + .checkbox-icon:before {
  border-color: #ddd; 
}

.checkbox input:disabled:checked:before, .checkbox input:disabled:checked + .checkbox-icon:before {
  background: #ddd; 
}

.checkbox.checkbox-input-hidden input {
  display: none !important; 
}

.checkbox input, .checkbox-icon {
  position: relative;
  width: 28px;
  height: 28px;
  display: block;
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none; 
}

.checkbox input:before, .checkbox-icon:before {
    display: table;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 28px;
    background: #fff;
    content: ' ';
    transition: background-color 20ms ease-in-out; 
}

.checkbox input:checked:before, input:checked + .checkbox-icon:before {
  border-width: 2px; 
}

.checkbox input:after, .checkbox-icon:after {
  -webkit-transition: opacity 0.05s ease-in-out;
  -moz-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 30%;
  left: 26%;
  display: table;
  width: 15px;
  height: 10.33333px;
  border: 3px solid #fff;
  border-top: 0;
  border-right: 0;
  content: ' ';
  opacity: 0; 
}

.checkbox input:checked:after, input:checked + .checkbox-icon:after {
  opacity: 1; 
}

.item-checkbox {
  padding-left: 60px; 
}

.item-checkbox.active {
    box-shadow: none; 
}

.item-checkbox .checkbox {
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  z-index: 3;
  margin-top: -21px; 
}

.item-checkbox.item-checkbox-right {
  padding-right: 60px;
  padding-left: 16px; 
}

.item-checkbox-right .checkbox input, .item-checkbox-right .checkbox-icon {
  float: right; 
}
